<!-- Footer Start -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="footer-about">
                    <h2>About Us</h2>
                    <p>
                        <b>KINGSGLAIVE</b> was established as a professional partnership and full service independent law firm, with substantial presence in civil and criminal litigation, corporate and commercial law, foreign investment, regulatory approvals, joint ventures, technical collaborations, due diligence, licensing and franchising.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-8">
                <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="footer-link">
                    <h2>OUR PRACTICE</h2>
                    <a>Energy, Power, Projects and Infrastructure</a>
                    <a>Corporate & Commercial Practice</a>
                    <a>Corporate Finance, Banking & Securites</a>
                    <a>taxation</a>
                    <a>Intellectual Property Law</a>
                    <a>Dispute Resolution Practice</a>
                    <a>Real Estate</a>
                    <a>Industrial Relations</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="footer-link">
                    <h2>Useful Pages</h2>
                    <a>About Us</a>
                    <a>Practices</a>
                    <a>Attorneys</a>
                    <a>Contact</a>
                    <a>Teams</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="footer-contact">
                    <h2>Get In Touch</h2>
                    <p><i class="fa fa-map-marker-alt"></i>Charlet A3 Princess Lilian Margaret Health Farm, (Almaroof events Complex), Isheri Oshun, Ijegun Road.</p>
                    <p><i class="fa fa-phone-alt"></i>+234-80327-40395, +234-90682-98326</p>
                    <p><i class="fa fa-envelope"></i>info@kgadvocates.com</p>
                    <div class="footer-social">
                        <a><i class="fab fa-twitter"></i></a>
                        <a><i class="fab fa-facebook-f"></i></a>
                        <a><i class="fab fa-youtube"></i></a>
                        <a><i class="fab fa-instagram"></i></a>
                        <a><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
   
    <div class="container copyright">
        <div class="row">
            <div class="col-md-6">
                <p>All Right Reserved.</p>
            </div>
            <div class="col-md-6">
                <p>Designed By <a href="$">SHOLA3PHICS</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

