<!-- About Start -->
<div class="about">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-5 col-md-6">
              <div class="about-img">
                  <img src="assets/img/about.jpg" alt="Image">
              </div>
          </div>
          <div class="col-lg-7 col-md-6">
              <div class="section-header">
                  <h2>Learn About Us</h2>
              </div>
              <div class="about-text">
                  <p>
                      <b>KINGSGLAIVE</b> was established as a professional partnership and full service independent law firm, with substantial presence in civil and criminal litigation, corporate and commercial law, foreign investment, regulatory approvals, joint ventures, technical collaborations, due diligence, licensing and franchising.
                  </p>
                  <p>
                      The firm’s flexibility flexibility allows it to handle legal issues diligently and strive to deliver the highest standards of integrity, efficiency and responsiveness in all our work. <b>KINGSGLAIVE</b> attracts clients as diverse and exceptional as the firm’s skills. Whatever your legal problem, the firm can respond to your legal crises with an approach carefully tailored to your needs. Teamwork, diversity and uniqueness form the basis of our working culture and environment.
                  </p>
                  <p>
                      <b>KINGSGLAIVE</b> was established as a professional partnership and full service independent law firm, with substantial presence in civil and criminal litigation, corporate and commercial law, foreign investment, regulatory approvals, joint ventures, technical collaborations, due diligence, licensing and franchising.
                  </p>
                  <a class="btn" href="">Learn More</a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- About End -->