<!-- Service Start -->
<div class="service">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-bolt"></i> 
                    </div>
                    <h3>Energy, Power, Projects, & Infrastructure</h3>
                    <p>
                       <b>KINGSGLAIVE'S</b> Energy & Project Practice group boasts of brand experience in upstream oil and gas transactions. we have been deeply involved wit the new players coming into the Nigeria Oil and Gas Industry, having acted for major exploration and production companies, service Company and those involved in marginal fields activities. we also possess hands on knowledge in the area of negotiation of offshore fabrication contacts. the lawyers inour Energy and Project Group have significant experience advising the largest global coglomerates in this field as they navigate complex projects. Our lawyers have advised a wide range of client on power generation and power related issues with strong relationship with regulatory authorities like the NERC, NCDMB, NNPC, DPR and ministry of Power.                    </p>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-briefcase"></i>
                    </div>
                    <h3>Corporate & Commercial Practice</h3>
                    <p>
                        Our practice covers business organization formation, corporate re-organizations, banking and finance, acquisitions and divestitures, foreign investments, licensing and technology transfers, outsourcing contracts and shareholder arrangements. We also assist our clients in carrying out due diligence, evaluation of bid proposals, Technical and Financial Proposals and Evaluation Procedures, Drafting of Corporate Governance, Employment Principles and Procedural guidelines. in all of these undertakings, we aim to understand our client's need in order to effectively assist them achieve their business objectives.
                    </p>
              
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-university"></i>
                    </div>
                    <h3>Corporate Finance, Banking & Security</h3>
                    <p>
                        We provide legal documentation and compliance tasks on behalf of Nigerian and International lending institutions to preserve the sanctity of lending transactions, including preparation, review and perfection of legal documentation evidencing lending transactions at various statutory registries. we also provide legal opinions on debt remittance outside Nigeria, mortgages and debentures issues among others.
                    </p>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-file-invoice-dollar"></i>
                    </div>
                    <h3>Taxation</h3>
                    <p>
                       STILL DEVELOPINGOur Tax practice Group is made up of a dedicated team includes Lawyers, Chartered Accountants and Chartered Tax Practitioners. Our team has collective experience in advising diverse range of clients in tax and fiscal matters. We provide innovative approach and a comprehensive business tax advisory service to clients. Our emphasis is on the creation of tax efficient structure and tax planning.
                    </p>
                  
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-lightbulb"></i> 
                    </div>
                    <h3>Intellectual Property Law</h3>
                    <p>
                        We advise on the protection, enforcement and exploitation of the full range of IP rights. We advise on how to establish, strengthen, and protect the IP assets of a business and on agreements, including joint ventures, collaborative research and exploitation, outsourcing, licensing and technology transfer agreements. We also undertake registration of trademarks and patients.
                    </p>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-gavel"></i>
                    </div>
                    <h3>Dispute Resolution Practice</h3>
                    <p>
                        Our firm handles all issues relating to Litigation and Alternative Dispute Resolution (ADR): Arbitration, Mediation and Conciliation. With the advantage of counsel with vast expertise in Litigation and Alternative Dispute Resolution, our firm is competently positioned to achieve Client measured certainty in dispute resolution. <br> Premised on our understanding of the risk and cost implication of litigation, our firm take pragmatic steps adopting the various forms of ADR in resolving dispute and avoiding adverse consequences that negative decision may have on Client’s business.
                    </p>
                  
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-home"></i>
                    </div>
                    <h3>Real Estate</h3>
                    <p>
                        Active client communication provides for a strong and sustained focus in ultimately achieving long-term client satisfaction in any given matter. The firm is committed to a continued client care programme that ensures constant review of the progress of matters under instructions. Personnel with specialized knowledge will always be assigned to their areas of specialization.
                    </p>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-handshake"></i>
                    </div>
                    <h3>Industrial Relation</h3>
                    <p>
                        Our firm has over time garnered vast experience in the area of industrial relations with effective resolution of labour matters such as work play disputes and trade union negotiations at different levels. Our firm has also effectively negotiated collective bargaining agreements on behalf of its client with different trade unions in the country. Some of the more prominent trade unions with whom our firm has effectively managed negotiations include the Petroleum and Natural Gas Senior Staff Association (PENGASSAN), the National Union of Petroleum and Natural Gas Workers of Nigeria, Maritime Workers Union of Nigeria and Merchant Navy Officers & Water Transport Senior Staff Association.
                    </p>
                
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->